<!doctype html>
<html>
    <head>

        <title>DE LAB</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta charset="UTF-8">
        <meta name="description" content="EMF Generation">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" type="text/css" href="mystyle.css">
        <script src="graph.ob.js"></script>
        <script src="graph_line_use.ob.js"></script>


        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

        <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
        <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

      
        <link rel="stylesheet" href="demo2.css">

    </head>

    <body data-demo-id="animation">
    
    <div id="wrapper" style="position:absolute; top:0px;width:1300px;height:720px;left:0px">
        <div class="dropdown" style="left:5px; top:2px;">
            <button onclick="dropdown()" class="dropbtn">INSTRUCTIONS
            </button>
            <div id="myDropdown" class="dropdown-content">
            <a href="#home">  
                            <b>1) Select and Drag "<img src="littledot.png" width="20" height="20" >" For Generate Wire.</b><br/><br/>
                            <b>2) Join The Wires To Perform Required Logic.</b><br/><br/>
                            
            </a>
            </div>
        </div>

        <div style="position:absolute; font-size:13px;background-color: #3385ff;top:59px;left:5px;width:410px; height:60px;font-weight: bold;">
            <p style="text-align:center; color:white;font-family: Verdana"> 
            <b>Simplification, realization of Boolean expression using universal NAND gate.</b>
            </p>
        </div>
        <div style="position:absolute; font-size:13px;background-color: #3385ff;top:130px;left:130px;width:130px; height:70px;font-weight: bold;">
            <p style="text-align:center; color:white;font-family: Verdana"> 
            <b>Reduced Expression: Y=AD+BD</b>
            </p>
        </div>

        <div class="jtk-demo-main" >
            <!-- demo -->
            <div class="jtk-demo-canvas canvas-wide animation-demo jtk-surface jtk-surface-nopan" id="canvas">
                <div class="littledot" id="ld1"></br></br><a href="#" class="cmdLink detach" rel="ld1">A</a></div>
                <div class="littledot" id="ld2"></br></br><a href="#" class="cmdLink detach" rel="ld2">D</a></div>
                <div class="littledot" id="ld3"></br></br><a href="#" class="cmdLink detach" rel="ld3">B</a></div>
                <div class="littledot" id="ld4"></br></br><a href="#" class="cmdLink detach" rel="ld4"></a></div>
                <div class="littledot" id="ld5"></br></br><a href="#" class="cmdLink detach" rel="ld5"></a></div>
                <div class="littledot" id="ld6"></br></br><a href="#" class="cmdLink detach" rel="ld6"></a></div>
                <div class="littledot" id="ld7"></br></br><a href="#" class="cmdLink detach" rel="ld7"></a></div>
                <div class="littledot" id="ld8"></br></br><a href="#" class="cmdLink detach" rel="ld8"></a></div>
                <div class="littledot" id="ld9"></br></br><a href="#" class="cmdLink detach" rel="ld9"></a></div>
                <div class="littledot" id="ld10"></br></br><a href="#" class="cmdLink detach" rel="ld10"></a></div>
                <div class="littledot" id="ld11"></br></br><a href="#" class="cmdLink detach" rel="ld11"></a></div>
                <div class="littledot" id="ld12"></br></br><a href="#" class="cmdLink detach" rel="ld12"></a></div>
                <div class="littledot" id="ld13"></br></br><a href="#" class="cmdLink detach" rel="ld13"></a></div>
                <div class="littledot" id="ld14"></br></br><a href="#" class="cmdLink detach" rel="ld14"></a></div>
                <div class="littledot" id="ld15"></br></br><a href="#" class="cmdLink detach" rel="ld15"></a></div>
                <div class="littledot" id="ld16"></br></br><a href="#" class="cmdLink detach" rel="ld16"></a></div>
                <div class="littledot" id="ld17"></br></br><a href="#" class="cmdLink detach" rel="ld17"></a></div>




            <!-- /demo -->
            <!-- explanation -->
           
            <!-- /explanation -->
            </div>
                <div>
                    <button style="background: #2eb82e !important;height:50px; width:150px;  position:absolute;left:620px;top:120px;" id="check-button" >CHECK CONNECTION</button>
                    <button style="background: #2eb82e !important;height:50px; width:150px;  position:absolute;left:620px;top:175px;" id="reset" type="reset" onclick="window.location.href = 'index.html';" value="Reset" >RESET CONNECTION</button>
                </div>
            </div>
           
        </div>
    </div>

    <div style="position:absolute;left:600px;top:220px;">
        <p style="color:blue;font-size: 11px;" align="center"></p>
          <img src="ic7400.jpeg" width="200" height="300">
    </div>

</div>








<form id="myForm">
<div>
    <table width="0%" border="0">
        <tr style="position:absolute;left:240px;top:240px;">
            <td>
                <input type = "text" style="width:100px; font-size:15pt; overflow:hidden;" size="5" min="0" maxlength="1" name="myinputA" onkeyup="checkmyinputA()" id="A"/></input>
                <br>
                <br>
                <br>
            </td>
        </tr>
        <tr style="position:absolute;left:240px;top:360px;">
            <td>
                <input type = "text" style="width:100px; font-size:15pt; overflow:hidden;" size="5" min="0" maxlength="1" name="myinputD" onkeyup="checkmyinputD()" id="D"/></input>
                <br>
                <br>
                <br>
            </td>
        </tr>
        <tr style="position:absolute;left:240px;top:480px;">
            <td>
                <input type = "text" style="width:100px; font-size:15pt; overflow:hidden;" size="5" min="0" maxlength="1" name="myinputB" onkeyup="checkmyinputB()" id="B"/></input>
            </td>
        </tr>
    </table>
</div>
<div style="position:absolute;left:245px;top:600px;">

<button style=" background: #27d447  !important;height:50px; width:100px"  type="reset" id="rst" value="Clear"  onclick="clearForm()">Reset Input</button>
</div>


<div style="position:absolute;left:850px;top:330px;">
    <table width="0%" border="1">
        <tr>
        <td>
            <input type = "text" style="width:100px; font-size:15pt; overflow:hidden;" size="5" min="0" maxlength="1" name="myinputZ" onkeyup="checkmyinputZ()" id="Z"/></input>
        </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input id="add" style=" background: #27d447 !important;height:30px; width:105px" id = "button" type = "button" value = "Check" onclick="AddData()">
                </label>
            </td>
        </tr>
    </table>
</div>

          
</br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="tblwrap" style="position:absolute; border: 2px solid #3385ff; top:220px;width:400px;height:300px;left:1000px">
        <div style="position:absolute; font-size:16px;background-color: #3385ff;  top:0px;left:0px; width:400px; height:50px;font-weight: bold;"><p style=" color:white"> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRUTH TABLE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            <input style=" background: #27d447 !important;height:30px; width:100px" id = "pr" type = "button" value = " Print  " onclick="print()"></p>
        </div>
        <div id="table" style="background-color: linen;; position:absolute; top:50px;width:400px;height:250px;left:0px; overflow-y: auto;">
            <table id="mytable" width="400" border="1" >
                <tr>
                    <th width="15">Serial No.</th>
                    <th width="25">A</th>
                    <th width="25">D</th>
                    <th width="25">B</th>
                    <th width="15">Output</th>
                    <th width="25" id="R">Remarks</th>
                    <!-- <th>load(Watt)</th>-->
                </tr>
            </table>
            <!-- <table id="mytable" border="1" >
            </table> -->
        </div>
    </div>
</form>
<br/>
<br/>

























<script>
function dropdown() 
{
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
  document.getElementById("A").disabled = true;
  document.getElementById("D").disabled = true;
  document.getElementById("B").disabled = true;
  document.getElementById("Z").disabled = true;
  document.getElementById("add").disabled = true;
  document.getElementById("rst").disabled = true;
</script>




 <script>
    var n = 1;
    function AddData(){  

        var a = document.getElementById("A").value;
        var d = document.getElementById("D").value;
        var b = document.getElementById("B").value;
        var z = document.getElementById("Z").value;
        var r = document.getElementById("R").value;   
    
        if(a === "0" && d === "0" && b=="0" && z=="0"){
            r = "Correct";
        }
        else if (a === "0" && d === "0" && b === "1" && z === "0"){
            r = "Correct";
        }
        else if (a === "0" && d === "1" && b === "0"  && z === "0"){
            r = "Correct";
        }
        else if (a === "0" && d === "1" && b === "1" && z === "1"){
            r = "Correct";
        }
        else if (a === "1" && d === "0" && b === "0"  && z === "0"){
            r = "Correct";
        }
        else if (a === "1" && d === "0" && b === "1" && z === "0"){
            r = "Correct";
        }
        else if (a === "1" && d === "0" && b === "1" && z === "0"){
            r = "Correct";
        }
        else if (a === "1" && d === "1" && b === "0"  && z === "1"){
            r = "Correct";
        }
        else if (a === "1" && d === "1" && b === "1"  && z === "1"){
            r = "Correct";
        }
        else{
            r = "Incorrect";
        }
        var table = document.getElementById("mytable");
        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow(-1);
        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);

        cell1.innerHTML = n++;
        cell2.innerHTML = a;
        cell3.innerHTML = d;
        cell4.innerHTML = b;
        cell5.innerHTML = z;
        cell6.innerHTML = r;
                  
    }


function clearForm() {
           document.getElementById("myForm").reset();
} 

function pr() {
  window.print();
}
function dropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>











        <!-- JS -->
        <script src="jsplumb1.js"></script>
        <!-- /JS -->
        <!--  demo code -->
        <script src="demo2.js"></script>



    </body>
</html>
