<%- include("partials/header"); -%>
    <h1>About</h1>
    <h3>Utkarsh Singh</h3>
    <span><img src="/images/about/Utkarsh.jpeg" alt="Utkarsh Image" style="width: 10%; height:10%; border-radius:5px; "/></span>
    <span><p>
        Passionate Coder, Web Developer and Instructor at Skill Vertex. Worked on more than 50 open source contributions
        and always trying to find the best version out of me.
        Contact me : 9031427230
    </p></span>


<%- include("partials/footer"); -%>
