
<%- include("partials/header"); -%>
    <h1 style="margin-bottom: 45px;">Experiments</h1>
    <ul>
      <li>
        <a href="/experiment1"><p class="homeParagraph link-secondary"> 1. Simplification, realization of Boolean expression using logic gates/universal gates </p></a>
      </li>
      <li>
        <a href="/experiment2"><p class="homeParagraph"> 2. Realization of Parallel Adder / Subtractors using IC7483 chip </p></a>
      </li>
      <li>
        <a href="/experiment3"><p class="homeParagraph"> 3. BCD to excess –3 code conversion and vice-versa </p></a>
      </li>
      <li>
        <a href="/experiment4"><p class="homeParagraph"> 4. Realization of Binary to Gray Code Conversion and Vice Versa </p></a>
      </li>
      <li>
        <a href="/experiment5"><p class="homeParagraph"> 
          5. MUX/DEMUX Use of 74153, 74139 for Arithmetic Circuits and
          Code Converter </p></a>
      </li>
      <li>
        <a href="/experiment6"><p class="homeParagraph"> 6. Realization of One Bit/ Two Bit Comparator and Study of 7485
          Magnitude Comparator </p></a>
      </li>
      <li>
        <a href="/experiment7"><p class="homeParagraph"> 7. Use of <br> (a) Decoder Chip to Drive LED Display and <br> (b) Priority
          Encoder </p></a>
      </li>
      <li>
        <a href="/experiment8"><p class="homeParagraph"> 8. Truth table verification of Flip-Flops: <br> (i) JK Master Slave <br> (ii) T- Type
          <br> (iii) D- Type </p></a>
      </li>
      <li>
        <a href="/experiment9"><p class="homeParagraph"> 9. Realization of 3-bit Counters Mod-N counter design (7476, 7490), Ring Counter and Johnson Counter </p></a>
      </li>
      <li>
        <a href="/experiment10"><p class="homeParagraph"> 10. Shift left; Shift Right, SIPO, SISO, PISO, PIPO Operations Using 74HS95 </p></a>
      </li>
      
    </ul>



<%- include("partials/footer"); -%>
